#nav{
    height: 100px;
    background-color:chocolate;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}


a{
    color: aliceblue;
    text-decoration: none;
}





#div1{
    background-color:cornflowerblue;
    border: 2px solid black;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#div2{
    background-color: coral;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    
    

}
